<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="YamlDotNet.RepresentationModel" publicKeyToken="2b53052c5884d7a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.4316.26586" newVersion="0.2.4316.26586" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>